/data/
__pycache__
.idea
logs
tensorboard_logs
slurm
tmp
wandb
training_data
opensubtitles_parser
sentence_transformers
scripts/big_hs/
scripts/eamt/
data-bin/
checkpoints/
eval_scores/
scripts/mtcue/checkpoint_pick.sh
scripts/mtcue/prepare_baseline.sh
scripts/mtcue/bootstrap_resampling.sh
